.gallery{
    display: flex; 
    padding-top: 20px;
    padding-bottom: 20px;
}

.gallery__item {
    display: flex; 
    height: 250px;
    width: 450px;

    justify-content: center;
}


#validation-input {
    border: 3px solid #bdbdbd;
  }
  
  #validation-input.valid {
    border-color: #4caf50;
  }
  
  #validation-input.invalid {
    border-color: #f44336;
  }